<%= turbo_frame_tag 'modal' %>
<section id="evaluations_all">
  <div class="py-10 flex flex-col w-full">
    <h2 class="py-5 text-3xl text-evaluationStrong font-bold text-center">Evaluations</h2>
    <p class="text-sm text-center text-evaluationStrong font-semibold">
      Welcome to the assessment session, where you can create and manage assessments with their respective questions. <br>
      questions. Evaluations are a way to know the level of knowledge and skill of people, as well as to get feedback <br>
      on the effectiveness of the training.and to get feedback on the effectiveness of the training. With this tool, <br>
      you can design you can design assessments tailored to your needs, choose from different types of questions and <br>
      review the results quickly and easily. easily and quickly. We hope you enjoy this session and get the most out <br>
      of the evaluations.
    </p>
    <div class="flex justify-center py-5">
      <%= link_to new_evaluation_path, id:'create_evaluation_welcome', data: {turbo_frame: 'modal'} do %>
        <div class="p-3 bg-evaluationStrong text-white text-sm font-semibold rounded-lg">
          Create Evaluation
        </div>
      <% end %>
    </div>
  <div>
    <% evaluations.each do |evaluation| %>
      <%= render "evaluation", evaluation: evaluation %>
    <% end %>
  </div>
</section>