<section>
  <div>
    <h4>Welcome!</h4>
    <h2> <%= survey.name %> </h2>
    <p>
      <%= survey.description %>
    </p>

    <p>
      You are going to answer this survey.
    </p>

    <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quas iste corrupti
    atque repellendus unde autem, quae sapiente voluptatem velit iure nobis, dolorum possimus ipsa <br>
    officiis sint porro deserunt quasi.
    </p>
  </div>
</section>