<%= turbo_frame_tag 'modal' %>
<section id="surveys_all">
  <div class="py-10 flex flex-col w-full">
    <h2 class="py-5 text-3xl text-surveyStrong font-bold text-center">Surveys</h2>
    <p class="text-sm text-center text-surveyStrong font-semibold">
      In this session you will find the survey session, you can create and manage the different types of surveys, as well <br>
      as the order in which you want to send it, the number of chapters and evaluations you want to include, you can also <br>
      send, download results and see the status of the person to whom the survey was sent. Remember that to create a survey <br>
      you must have previously created chapters and evaluations to be able to include them in the survey.
    </p>
    <div class="flex justify-center py-5">
      <%= link_to new_survey_path, id:'create_survey_welcome', data: {turbo_frame: 'modal'} do %>
        <div class="p-3 bg-surveyStrong text-white text-sm font-semibold rounded-lg">
          Create surveys
        </div>
      <% end %>
    </div>
  <div>
    <% surveys.each do |survey| %>
      <%= render "survey", survey: survey %>
    <% end %>
  </div>
</section>